<h1> Welcome to the best page everrrr! </h1>
<%= link_to 'Alvin', '/alvin' %>
<br/>
<%= link_to 'Will' , '/will' %>
<br/>
<%= link_to 'Cubed Number' , '/cubed/:cubed_num' %>
<br/>
<%= link_to 'Divisble Numbers' , '/evenly/:even_div1/:even_div2' %>
<br/>
<%= link_to 'Palindrome' , '/palindrome/:palindrome_word' %>
<br/>
<%= link_to 'Madlib' , '/madlib/:noun/:verb/:adv/:adj' %>
